<div
  class="w-full rounded-sm border border-stroke px-5 pb-5 pt-7.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:col-span-8"
>
  <h1 class="text-xl font-bold text-black dark:text-white mb-8">Status Pendidikan pelajar</h1>
  <div class="flex flex-wrap items-start justify-between gap-3 sm:flex-nowrap">
    <div class="flex w-full flex-wrap gap-3 sm:gap-5">
      <div class="flex min-w-47.5">
        <span
          class="mr-2 mt-1 flex h-4 w-full max-w-4 items-center justify-center rounded-full border border-primary"
        >
          <span
            class="block h-2.5 w-full max-w-2.5 rounded-full bg-primary"
          ></span>
        </span>
        <div class="w-full">
          <p class="font-semibold text-primary">Pemuda Bekerja</p>
        </div>
      </div>
      <div class="flex min-w-47.5">
        <span
          class="mr-2 mt-1 flex h-4 w-full max-w-4 items-center justify-center rounded-full border border-secondary"
        >
          <span
            class="block h-2.5 w-full max-w-2.5 rounded-full bg-secondary"
          ></span>
        </span>
        <div class="w-full">
          <p class="font-semibold text-secondary">Pemuda Wirausaha</p>
        </div>
      </div>
    </div>
   
  </div>
  <div>
    <div id="chartOne" class="-ml-5"></div>
  </div>
</div>
